/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use './_colors.scss';
@use './_fonts.scss';
@use './space.scss';
@use './topography.scss' as fs;

.stat-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 450px;
  margin-inline: auto;
  background-color: colors.$dark-desaturated-blue;
  box-shadow: 0 20px 20px -10px rgba(23, 25, 41, 0.203087);
  border-radius: 8px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1110px;
  }

  &__img-wrapper {
    max-width: 540px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;

    @media only screen and (min-width: 768px) {
      border-radius: 0 8px 8px 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: space.$content-padding;

    @media only screen and (min-width: 768px) {
      order: -1;
      align-items: flex-start;
      text-align: left;
    }

    &-heading {
      font-weight: 700;
      font-size: fs.$content-heading;
      line-height: 1.143;
      color: colors.$white;
      margin-block-end: space.$content-heading-b-margin;

      & > span {
        color: colors.$soft-violet;
      }

      @media only screen and (min-width: 768px) {
        line-height: 1.222;
      }
    }

    &-sub-heading {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: colors.$slightly-transparent-white;
      margin-block-end: space.$content-subheading-b-margin;
      max-inline-size: 374px;
    }

    &-stat {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      width: 100%;

      @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: space.$stat-gap;
      }
    }
  }

  &__stat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: colors.$white;
    }

    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 25px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: colors.$slightly-transparent-white-2;
    }
  }
}
