$content-padding: clamp(2.5rem, calc(1.82rem + 2.91vw), 4.44rem) clamp(2rem, calc(0.61rem + 5.92vw), 5.94rem) clamp(2rem, calc(1.41rem + 2.54vw), 3.69rem) clamp(2rem, calc(1.12rem + 3.76vw), 4.5rem);

$content-heading-b-margin: clamp(1rem, calc(0.8rem + 0.85vw), 1.56rem); // 16px - 25px

$content-subheading-b-margin: clamp(2.5rem, calc(1.8rem + 3vw), 4.5rem); // 40px - 72px

$stat-gap: clamp(1.50rem, calc(-1.29rem + 5.80vw), 3.94rem); // 24px - 63px